<html>

<head>
    <link href="../static/chatroom_style.css" rel="stylesheet">
    <title>📯Vox : {{ room }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.5.3/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function () {
                socket.emit('joined', {});
            });
            socket.on('load_chat_history', function (data) {
                // will clear existing elements before appending history
                $('.chat').remove();
                data.forEach(chat => {
                    $(".chatwindow").append($(`<div class=\"chat\"><span style="display: flex; justify-content: left">${chat['name']} : ${chat['msg']}</span>`));
                    // $(".chatwindow").append($(`< div class=\"chat\"><span style="display: flex; justify - content: left">${chat['name']} : ${chat['msg']}</span><span class="msgdate" style="display: flex; justify - content: flex - end">${chat['time_sent']}</span></div>`));
                });
            })
            socket.on('status', function (data) {
                $(".chatwindow").append($(`<div class=\"chat chat-status\">< ${data.name} ${data.msg} ></div>`));
                // moves scrollbar to bottom of chatwindow section
                $('.chatwindow').scrollTop($(".chatwindow")[0].scrollHeight);
            });
            socket.on('message', function (data) {
                $(".chatwindow").append($(`<div class=\"chat\">${data.name}: ${data.msg}</div>`));
                $('.chatwindow').scrollTop($(".chatwindow")[0].scrollHeight);
            });
            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                // when ENTER key is pressed
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', { msg: text });
                }
            });
        });
        // Logouts the user from the application
        function logout() {
            socket.emit('left', {}, function () {
                socket.disconnect();

                // go back to the login page
                window.location.href = "{{ url_for('main.login') }}";
            });
        }
        function switch_server(name, server_id) {
            $('#server_title').text(`Server: ${name}`);
            socket.emit('switched', { server_id: name });
        }
        function fire_dummy_messages() {
            console.log("fired add_message")
            for (let i = 0; i < 100; i++) {
                $(".chatwindow").append($(`<div class=\"chat\">Tester : Eat my shorts</div>`));
            }
            $('.chatwindow').scrollTop($(".chatwindow")[0].scrollHeight);
        }
    </script>
</head>

<body>
    <div class="row">
        <div class="column first">
            <h1>Select</h1>
            <section class="serverwindow">
                {% for server in servers %}
                <button class="serverbutton" name="{{server}}" onclick="switch_server(this.name, 1);">{{ server
                    }}</button><br>
                {% endfor %}
            </section>
            <a href="#" onclick="logout();">Log Out</a><br>
            <!-- <button onclick="fire_dummy_messages();">Test message</button><br> -->
        </div>
        <div class="column second">
            <h1 id="server_title">Server: {{ room }}</h1>
            <section class="chatwindow">
                <!--  This section will hold child objects -->
            </section>
            <input class="chatinput" id="text" size="80" placeholder="Enter your message here"><br><br>
        </div>
    </div>

</body>

</html>